
/* Color Theme Swatches in Hex */
.Hudson.-1-hex { color: #A2A6A1; }
.Hudson.-2-hex { color: #8A8C87; }
.Hudson.-3-hex { color: #3D4037; }
.Hudson.-4-hex { color: #D8D9D7; }
.Hudson.-5-hex { color: #F2F2F2; }

html {
    font-family: 'Times New Roman', Times, serif;
    background-color: #D8D9D7;
    color: #3D4037;
}

#navbar {
    position: fixed;
    left: 0;
    width: 200px;
}

header{
    padding: 10px;
    font-size: 2em;
    background-color: #D8D9D7;
}

p{
    line-height: 1.5em;
    padding: 5px;
}

.nav-ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: -2px;
    background-color: rgb(215, 215, 215);
   
}

.nav-li {
    padding: 20px 10px;
    margin: 0;
    border: black solid;
    border-width: 1px 1px .5px 1px;
    font-size: 1.5em;
}

.main-li{
    padding: 5px;
    margin: 0;
    list-style-type: circle;
    line-height: 1.4em;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: #8A8C87;
}
#main-doc {
    margin-left: 190px;
}

@media (max-width: 425px){
    #navbar{
        height: 150px;
        width: 100%;
        top: 0;
    }
    .nav-li{
        padding: 3px;
        line-height: .7em;
    }
    header{
        padding: 5px;
        font-size: .8em;
    }
    #main-doc {
        margin-left: 0;
        margin-top: 165px;
    }
    .main-section{
        margin: 0 -15px;
        padding: 10px;
    }
}

#nav-header {
    font-size: 2em;
    margin: 0em;
    border: black solid 2px;

}

code{
    color: #f2f2f2;
    background-color: #8A8C87;
    padding: 3px;
    border-radius: 10px;
}

.code-block {
    color: white;
    background-color: grey;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    margin-left: 15px;
}

.main-section{
    border: 2px black solid;
}